body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#square-cont{
    display: flex;
    width: 1000px;
    height: 1000px;
    flex-flow: row wrap;
    background-color: rgb(248, 185, 255);
}

.square{
    opacity: 0.1;
    background-color: rgb(105, 167, 248);
}
